
div
{
color:white;
float:right;
background-color:tomato;
padding:10px;
}
div li
{
display:inline-block;

}
div li a{
color:white;
font-size:25px;
font-weight:bold;
padding:4px 10px;
border-radius:3px;
text-transform:uppercase;
transform:scale(2);
}

.back
{
background:url(backform.jpg);
transition:2s;
}
.box:hover
{
background:url(backform.jpg);
margin:auto;
width:45%;
border:dotted 8px;
/*  transform:translate(5px,80px) scale(1);  */
transition:0.5s;

}


.square
{
width:200px;
height:40px;
border:solid;
border-color:white;
border-radius:40px;
background-color:black; 
color:white;
font-size:22px;
padding:20px;
margin:auto;
transition:width 1s;
}


.square:hover
{
width:400px;

}

.buttongreen
{
width:100px;
height:40px;
border-radius:40px;
background-color:red;
margin:auto;
}

.buttonred
{
width:100px;
height:40px;
border-radius:40px;
background-color:red;
margin:auto;
}

.buttongreen:hover
{
transition:0.5s;
background-color:green;
}

.buttonred:hover
{
background-color:yellow;
transform:rotate(0.5rad);
transition:0.1s;

}

 input::placeholder
{
color:lightblue;
}
